<% include ../partials/header.ejs %>


<div class="text-center">

<div class="convocontainer d-inline-block">
  <h5 class="text-center mt-4 ">Additional Details</h5>
  <div class="detailscap">
    <p>Hello <%= currentUser.firstname %>, care to tell us a little about yourself?</p>
    <a href="/slots">[ Proceed to bookings instead ] >></a>    
  </div>
    
    <div class="detailsform slotwindow text-center">
        <form class="loginform " method="POST" action="/profiles/self/getdetails">
        <div class="form-group">
        <p>Positions:</p>
            <select name="positiona" value="GK">
                <option value="gk">GK</option>
                <option value="cb">CB</option>
                <option value="cm">CM</option>
                <option value="cdm">CDM</option>
                <option value="cam">CAM</option>
                <option value="wb">WB</option>
                <option value="wr">WR</option>
                <option value="fw">FW</option>
                <option value="st">ST</option>
            </select>
            <select name="positionb" hidden="true">
                <option value="gk">GK</option>
                <option value="cb">CB</option>
                <option value="cm">CM</option>
                <option value="cdm">CDM</option>
                <option value="cam">CAM</option>
                <option value="wb">WB</option>
                <option value="wr">WR</option>
                <option value="fw">FW</option>
                <option value="st">ST</option>
            </select>
            <select name="positionc" hidden="true">
                <option value="gk">GK</option>
                <option value="cb">CB</option>
                <option value="cm">CM</option>
                <option value="cdm">CDM</option>
                <option value="cam">CAM</option>
                <option value="wb">WB</option>
                <option value="wr">WR</option>
                <option value="fw">FW</option>
                <option value="st">ST</option>
            </select>
        </div>
        
        <div class="form-group teamplayed">
            <p>Associations(Teams part of):</p>
            <input type="text" name="associationa" value="">
            <input type="text" name="associationb" >
            <input type="text" name="associationc" hidden="true">
            <p id="addplayed">+</p>
        </div>
        
        <div class="form-group teamsupport">
            <p>Teams you support </p>
            <input type="text" name="favteama">
            <input type="text" name="favteamb" hidden="true">
            <input type="text" name="favteamc" hidden="true">
            <p id="addsupport">+</p>
        </div>
        <div class="form-group">
            <p>Stronger Foot</p>
            <select name = "strongfoot">
                <option value="r">Right</option>
                <option value="l">Left</option>
                <option value="b">Both</option>
            </select>
        </div>
        <div class="form-group hometown">
            <p>Hometown</p>
            <input type="text" name="hometown">
        </div>
        <div class="form-group actionbutton">
            <button type="submit">Update</input>
        </div>
        
    </form>
        
    </div>
</div>
</div>

<% include ../partials/footer.ejs %>