<% include ../partials/header.ejs %>




<div class="convocontainer d-inline-block mt-4 w-100">
        <h5 class="text-center">Conversations</h5>
        <div class="slotwindow">
        <%
        relevantstreams.forEach(function(chatstream){ %>
        
        <a href="/messages/<%= chatstream._id %>">
            <div class="indextab">
                <% 
                var sender=chatstream.sender.firstname;
                if (chatstream.sender.firstname==currentUser.firstname){
                    sender = chatstream.recipient.firstname;
                }    
                %>
                <div class="sender-index">
                    <h6> <%= sender %><% if (chatstream.unread>0){ %><span class="slotred"><%= chatstream.unread %></span><% } %></h6>    
                </div>
                <div class="lastmessage-index">
                    <p> <%= chatstream.messageList.slice(-1)[0]?chatstream.messageList.slice(-1)[0].content:"" %></p>
                </div>
            </div>    
        </a>
        
        <%
        });
        %>
    
        </div>
    
    
    
</div>

<% include ../partials/footer.ejs %>