 
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.zoom{
    zoom: 90%;
}
a:hover {
    text-decoration: none;
}

html,body{
    overflow-x: hidden;
}

html{
    height:100vh;
}
body{
    
    background: #474F66;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    font-family: 'Varela Round', sans-serif;
    height:100vh;
    width:100vw;
    padding: 0px;
    margin:0px;
    color:#D3DBED;
    text-transform: uppercase;
    min-height:100%;
    overflow-y: scroll;
    
}

.navbar{
    height: 100px;
}

.container {
    max-width: 1200px;
}


.navbar-brand {
    width: 136px;
    height: 45px;
}
.navbar-brand img{
    position:relative;
    left: 0px;
    top: -60px;
    bottom: 0px;
    height:400%;
    margin-bottom: 10px;
    
}

.navbar-container, .main-container, .footer-container{
    width:1200px;
}

.main-container{
    margin-top: 70px;
}

.navbar{
    
    background:#121E33;
    -moz-box-shadow: 0 20px 10px #2D3444;
    -webkit-box-shadow: 0 20px 10px #2D3444;
    box-shadow: 0 20px 20px #2D3444;
    
}

.navbar-collapse{
    right: 0px;
}

.navbar-nav .nav-link {
    color: #FF947F;
    font-size: 16px;
}



.navbar-nav .navactive {
    color: #FFC494;
    font-size: 16px;
}



.nav-link:hover {
    color: #FFC494;
    transition: color 0.2s ease-in;
}

li{
    list-style:none;
}

ul{
    padding-left: 10px;
}

.main-container .newcard{
    margin-left: auto;
    margin-right:auto;
    display:block;
}



.newcard input[type='time']{
    width:60%;
    border:none;
    border-bottom: 2px solid transparent;
    margin-right: auto;
    min-width:112px;
}

.newcard input[type='time']:focus{
    border-bottom: 2px solid #FFC494;
    outline:none;
    transition: border-bottom 1s;
}

.newcard input[type='time']:hover{
    border-bottom: 2px solid #FFC494;
    outline:none;
    transition: border-bottom 1s;
}

.newcard input[type='number']{
    
    border:none;
    border-bottom: 2px solid #FFC494;
    margin-right: auto;
    display: block;
}

.newcard input[type='number']:focus{
    border-bottom: 2px solid #FFC494;
    outline:none;
    transition: border-bottom 1s;
}

.newcard input[type='number']:hover{
    border-bottom: 2px solid #FFC494;
    outline:none;
    transition: border-bottom 1s;
}

.card{
    background-color: #2F3647;;
    border: none;
    border-radius:20px;
    color: #97A1B7;
    min-height: 324px;
    min-width:275px;
    display:inline-block;
    overflow-y: hidden;
    -moz-box-shadow: 0 0 30px #3B4256;
    -webkit-box-shadow: 0 0 30px #3B4256;
    box-shadow: 0 0 30px #3B4256;
}

.card-body {
    background-color: #565F75;
    position: relative;
    height: 100%;
    color: #D3DBED;
}

.card:hover{
    -moz-box-shadow: 0 0 10px #A7ACB7;
    -webkit-box-shadow: 0 0 10px #A7ACB7;
    box-shadow: 0 0 10px #A7ACB7;
    transition: box-shadow 0.4s ease-in;
}

.card-header{
    color: #97A1B7;
    padding-left: 0px;
    background-color: #2F3647;
    
}

.card a {
    color: #D3DBED;
    font-size: 13px;
    padding: 10px;
    
}
.card a:hover {
    color: #FFC494;
    transition: color 0.3s ease-in;
}

#companionfield{
    width:10px;
}


.maincap{
    background-color:grey;
}


.slotgreen{
    width:28px;
    height:18px;
    border-radius:2px;
    font-size:20px;
    color:#000;
    line-height:18px;
    text-align:center;
    display: inline-block;
    background:#72FF38;
    margin-top:2px;
    
}

.slotyellow{
    width:23px;
    height:23px;
    border-radius:50%;
    font-size:16px;
    color:#000;
    line-height:20px;
    text-align:center;
    display: inline-block;
    background:#FAFF00
}

.slotred{
    width:23px;
    height:23px;
    border-radius:50%;
    font-size:16px;
    color:#000;
    line-height:20px;
    text-align:center;
    display: inline-block;
    background:#FF4C3D
}


.usericon{
    width: 15%;
}

.fa-trash-alt{
    padding: 0px;
}

.fa-user, .fa-users {
    margin-right:10px;
    margin-left:12px;
}

.trashbooking{
    display:inline-block;
    background: none;
    border: none;
    color: #C1A1C9;
}

.trashbooking:hover{
    
    color: #D33361;
}
.trashbooknig:active{
    color:#C1A1C9;
    border:none;
}

.playername{
    display:inline-block;
}

.playerrow{
    text-align: left;
}

.daynav a{
    margin: 5px;
    color: #FF947F;
    font-size: 15px;
}

.daynav a:hover{
    color: #FFC494;;
    margin-top:5px;
    transition: color 0.2s ease-in;
}

.daynav{
    text-align: left;
    margin: 60px 0px 60px 0px;
    top:60px;
    left:0;
    background: none;
}

.dropdown-menu{
    background: #1D2E47;
}

.dropdown-item:hover{
    background: #121E33;
}
.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #392338;
}
.daynav .dayselect{
    color: #FFC494;
    font-size:1.3rem;
    transition: color 3s ease-in;
}

.actionmessage{
    border-top: 2px solid #C1A1C9;
    border-bottom: 2px solid #C1A1C9;
    margin: 50px auto 120px auto;
    width: 45%;
    text-align:center;
}

.list-group-item{
    background: none;
    margin: 4px 12px;
}

.list-group-item h1,h2,h3,h4,h5,h6,p{
    margin:0px 12px;
}

.newslotform{
    text-align:center;
}

.actionbutton button:hover{
    border:2px solid transparent;
    background:#D3DBED;
    color:#392338;
    text-transform: uppercase;
    
}

.actionbutton button{
    border: 2px solid #D3DBED;
    background:none;
    color:#D3DBED;
    text-transform: uppercase;
}

.actionbutton{
    margin-top: 10px;
}

.delbutton button:hover{
    border:2px solid transparent;
    background:#C1A1C9;
    color:#392338;
    text-transform: uppercase;
    
}

.delbutton button{
    border: 2px solid #D33361;
    background:none;
    color:#D33361;
    text-transform: uppercase;
    font-size: 12px;
}

.delbutton{
    margin-top: 20px;
    padding-left: 3px;
    padding-right:3px;
}

.companion{
    max-width:45px;
}

.playerlist{
    margin-top: 10px;
}

.plus-icon h1 {
    font-size: 170px;
}

.plus-icon {
    line-height: 170px;
    margin-top:20%;
    color: #DFE5EF
}

.noslotmessage{
    margin: auto 50px;
    color: #9B619B;
}
    
.newslotcard{
    background: #565F75;
    text-align: center;
    width: 253px;
    height: 302px;
    margin-left: 5px;
    color: #DFE5EF;
}
.showslotcard{
    margin-top: 60px;
}



input{
    background: none;
    border: 2px solid #D0B6D8;
    color:#D0B6D8;
}
input:focus{
    border: 2px solid #FFC494;
    color:#FFC494;
}

.success-message{
    color: #6DF7D6;
    border-top: 1px solid #6DF7D6;
    border-bottom: 1px solid #6DF7D6;
    text-align: center;
}
.error-message{
    
    color:#AA1F47;
    border-top: 1px solid #AA1F47;
    border-bottom: 1px solid #AA1F47;
    text-align: center;
}

.detailscap{
    text-align: center;
}

.detailscap a{
    color:#FF947F;
}

.detailscap a:hover{
    color:#FFC494;
}

.detailsform{
    text-align: center;
    padding: 10px;
}

.profilecard{
    background: #565F75;
    padding:10px;
    border-radius:15px;
    -moz-box-shadow: 0 0px 5px #2D3444;
    -webkit-box-shadow: 0 0px 5px #2D3444;
    box-shadow: 0 0px 5px #2D3444;
    margin:30px;
}

.profilecard h6{
    margin:10px 0;
}

.profilecard span{
    color: #FFC494;
}

.chatstreambox{
    border: 2px solid #D0B6D8;
    border-radius: 10px;
    padding: 8px 15px;
    height: 80%;
    min-height: 500px;
    max-height:800px;
    height:70vh;
}

.loginform .teamplayed input[type='text'], .loginform .teamsupport input[type='text'], .loginform .hometown input[type='text']{
    width: 60%;
    display: block;
    margin: 2px auto;
    text-align: center;
}

#addplayed , #addsupport {
    display: inline-block;
    color: #FFC494;
    font-size: 26px;
}

.msgstreamcontainer{
    overflow-y:scroll;
    padding-left: 5px;
    padding-right:5px;
    margin-bottom: 2px;
}

.newmessageform{
    width: 100%;
    margin-top: auto;
    border: 2px solid #D0B6D8;
    padding: 5px 0px;
    text-align: right;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position:sticky;
    bottom:0;
    
}

.newmessageform input[type='text']{
    width:100%;
    border:none;
    border-bottom: 2px solid transparent;
    margin-right: auto;
}

.newmessageform input[type='text']:focus{
    border-bottom: 2px solid #FFC494;
    outline:none;
    transition: border-bottom 1s;
}

.newmessageform input[type='text']:hover{
    border-bottom: 2px solid #FFC494;
    outline:none;
    transition: border-bottom 1s;
}

.messageinput{
    width:80%;
    float:left;
    padding-left:5px;
    box-sizing:border-box;
}
.sendmessagebtn{
    width: 20%;
    float:right;
}

.sendmessagebtn button{
    background: none;
    border:none;
    border-left: 2px solid #D0B6D8;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing:border-box;
    text-align: right;
    right: 0;
}

.sendmessagebtn:focus{
    outline:none;
}

.sendmessagebtn i{
    color:#D0B6D8;
}
.sendmessagebtn:hover i{
    color:#FFC494;
    transition: color 1s;
}

.footer{
    margin-top: auto;
    width:100vw;
    position: relative;
    display:block;
}

.footer-container {
    position:relative;
}

.chatuser{
    color: #FFC494;
    background: #121E33;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 15px 30px;
    position: sticky;
}

.speechbubble{
    border: 2px solid #D0B6D8;
    padding: 10px;
    margin: 2px 10px;
    border-radius:5px;
    position: relative;
    display:inline-block;
    font-size:13px;
    text-transform: none;
}

.slotwindow{
    overflow-x:auto;
    padding: 30px 20px;
    text-align: left;
    height: 450px;
    -moz-box-shadow: inset 0 0 20px #3B4256;
    -webkit-box-shadow: inset 0 0 -20px #3B4256;
    box-shadow: inset 0 0 20px #3B4256;
    border-radius:10px;
    padding-top: 60px;
}

.convocontainer{
    margin-top: 30px;
    overflow: hidden;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}

.convocontainer h5{
    color:#FF947F;
}

.indextab{
    top:0px;
    padding: 0px;
    max-width: 500px;
    margin: 20px auto;
    border-radius:5px;
    
    position: relative;
    display:block;
    font-size:16px;
    color: #D3DBED;
    -moz-box-shadow: 0 0 20px #3B4256;
    -webkit-box-shadow: 0 0 20px #3B4256;
    box-shadow: 0 0 20px #3B4256;
    
}

.sender-index{
    background-color:#5D6B8C;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}

.sender-index, .lastmessage-index {
    padding:15px;
    
}
.indextab p{
    font-size:16px;
    text-transform: none;
    
}

.indextab:hover{
    
    -moz-box-shadow: 0 0 10px #A7ACB7;
    -webkit-box-shadow: 0 0 10px #A7ACB7;
    box-shadow: 0 0 10px #A7ACB7;
    transition: box-shadow 0.4s ease-in;
    
}

.lastmessage-index{
    padding:20px;
    background: #FFECE8;
    margin-left: auto;
    margin-right:auto;
    color:#474F66;
}

.message-left{
    text-align: left;
    position:relative;
}

.message-right{
    text-align: right;
    position:relative;
}

.message-right .speechbubble{
    
    color:#FF947F;
}

.message-left .speechbubble::before{
    content: "";
    display:block;
    position:absolute;
    
    width:0px;
    height: 0px;
    
    border-top: 8px solid transparent;
    border-right: 15px solid #D0B6D8;
    border-bottom: 8px solid transparent;
    left: -15px;
    top: 10px;
}

.message-left .speechbubble::after{
    content: "";
    display:block;
    position:absolute;
    
    width:0px;
    height: 0px;
    
    border-top: 8px solid transparent;
    border-right: 15px solid #474F66;
    border-bottom: 8px solid transparent;
    left: -10px;
    top: 10px;
}

.message-right .speechbubble::before{
    content: "";
    display:block;
    position:absolute;
    
    width:0px;
    height: 0px;
    
    border-top: 8px solid transparent;
    border-left: 15px solid #D0B6D8;
    border-bottom: 8px solid transparent;
    right: -15px;
    top: 10px;
}

.message-right .speechbubble::after{
    content: "";
    display:block;
    position:absolute;
    
    width:0px;
    height: 0px;
    
    border-top: 8px solid transparent;
    border-left: 15px solid #474F66;
    border-bottom: 8px solid transparent;
    right: -10px;
    top: 10px;
}

.formcontainer{
    text-align:center;
    margin-top: 140px;
}

.loginform{
    text-align: center;
    display: inline-block;
    padding: 60px 40px;
    margin: 0 auto;
    border-radius: 10px;
    color: #D3DBED;
    background-color: #565F75;
    -moz-box-shadow: 0 0 20px #3B4256;
    -webkit-box-shadow: 0 0 20px #3B4256;
    box-shadow: 0 0 20px #3B4256;
}

.loginform input[type='text']{
    width:90%;
    border:none;
    border-bottom: 2px solid #D3DBED;
    margin-right: auto;
}

.loginform input[type='text']:focus{
    border-bottom: 2px solid #FFC494;
    outline:none;
    transition: border-bottom 1s;
}

.loginform input[type='text']:hover{
    border-bottom: 2px solid #FFC494;
    outline:none;
    transition: border-bottom 1s;
}

.loginform input[type='password']{
    width:90%;
    border:none;
    border-bottom: 2px solid #D3DBED;
    margin-right: auto;
}

.loginform input[type='password']:focus{
    border-bottom: 2px solid #FFC494;
    outline:none;
    transition: border-bottom 1s;
}

.loginform input[type='password']:hover{
    border-bottom: 2px solid #FFC494;
    outline:none;
    transition: border-bottom 1s;
}

/*scrollbar styling for chrome*/

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #C1A1C9; 
  border-radius: 20px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFC494; 
}

/*placeholder styling for inputs*/
::-webkit-input-placeholder {
  color: #DFE5EF;
  
}
::-moz-placeholder {
  color: #DFE5EF;
  
}
:-ms-input-placeholder {
  color: #DFE5EF;
  
}
::placeholder {
  color: #DFE5EF;
  
}
